@font-face {
  font-family: "iconfont"; /* Project id 3320424 */
  src: url('iconfont.woff2?t=1650969028945') format('woff2'),
       url('iconfont.woff?t=1650969028945') format('woff'),
       url('iconfont.ttf?t=1650969028945') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dabao:before {
  content: "\e606";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-xuexiao_xuexiaoxinxi:before {
  content: "\e661";
}

.icon-lianxi:before {
  content: "\e61a";
}

.icon-zhiwei:before {
  content: "\e612";
}

.icon-mailboxEmpty:before {
  content: "\e964";
}

.icon-chazhaoyonghu:before {
  content: "\e600";
}

